<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.cbtrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CBT_theme"
        >
        <activity android:name=".main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.SettingsActivity"></activity>
        <activity android:name=".main.InfoActivity"></activity>
        <activity android:name=".allNotes.AllNotesActivity"></activity>
        <activity android:name=".addNotes.AddEmotionActivity"></activity>
        <activity android:name=".addNotes.EmotionSelectionActivity"></activity>
        <activity android:name=".allNotes.EmotionNoteActivity"></activity>
        <activity android:name=".allNotes.ThoughtNoteActivity"></activity>
        <activity android:name=".addNotes.AddThoughtActivity"></activity>
        <activity android:name=".addNotes.CognitiveInfoActivity"></activity>
        <activity android:name=".addNotes.CognitiveSelectionActivity"></activity>
        <activity android:name=".allNotes.MyNotesActivity"></activity>
        <activity android:name=".allNotes.AActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>